/*
 * nextflow.config
 *
 * Configuración principal.
 * Aquí viven los parámetros globales y los perfiles de ejecución.
 */

manifest {
    name            = 'laynez-21-repexprep'
    author          = 'Lucía Laynez'
    description     = 'WGS preprocessing for RepeatExplorer2-compatible low-pass comparative repeatome analysis'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.0-dev'
}

params {
    input     = null
    outdir    = 'results'
    test_mode = false
}

/*
 * Perfiles.
 *
 * test:
 *   Para probar localmente con datos pequeños.
 *
 * metacentrum:
 *   Más adelante lo usaremos para PBSPro/qsub en MetaCentrum.
 */

profiles {

    test {
        includeConfig 'conf/test.config'
    }

    metacentrum {
        includeConfig 'conf/metacentrum.config'
    }
}