/*
 * nextflow.config
 *
 * Main configuration file.
 * Includes:
        -global parameters
        -execution profiles (includes test to check on small local datasets)
 */

manifest {
    name            = 'laynez-21-repexprep'
    author          = 'Lucía Laynez Puyana'
    description     = 'WGS preprocessing for RepeatExplorer2-compatible low-pass comparative repeatome analysis'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.0-dev'
}

params {
    input     = null
    outdir    = 'results'
    test_mode = false
    target_coverage          = null
    target_read_length       = null
    target_length_mode     = 'global_auto'
    min_retained_fraction  = 0.95
    min_target_read_length = 100
    max_target_read_length = 300
    genome_size_bp           = null
    sampling_seed            = 42
    skip_organelle_filter = false
}

profiles {

    test {
        includeConfig 'conf/test.config'
    }

    metacentrum {
        includeConfig 'conf/metacentrum.config'
        singularity.enabled = true
        singularity.autoMounts = true
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

trace.overwrite    = true
report.overwrite   = true
timeline.overwrite = true