/*
 * conf/metacentrum.config
 *
 * Preliminary profile for MetaCentrum execution.
 */

process {
    executor = 'pbspro'
    withName: ORGANELLE_FILTER {
        cpus   = 8
        memory = '16 GB'
        time   = '12h'
    }
}

executor {
    queueSize       = 20
    submitRateLimit = '10/1min'
}