/*
 * conf/metacentrum.config
 *
 * Preliminary profile for MetaCentrum execution.
 */

process {
    executor = 'pbspro'
    withName: ORGANELLE_FILTER {
        cpus   = 8
        memory = '16 GB'
        time   = '12h'
    }
}

executor {
    queueSize       = 20
    submitRateLimit = '10/1min'
}

profiles {
    metacentrum {
        process {
            withName: 'REPEATEXPLORER' {
                cpus   = { check_max( 8 * task.attempt, 'cpus' ) }
                memory = { check_max( 64.GB * task.attempt, 'memory' ) }
                time   = { check_max( 24.h * task.attempt, 'time' ) }
            }
        }
    }
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min(obj, params.max_cpus as int)
        } catch (all) {
            return obj
        }
    }
}
