/*
 * conf/metacentrum.config
 *
 * Execution profile for MetaCentrum HPC environment.
 */

process {
    executor = 'pbspro'

    withName: 'ORGANELLE_FILTER' {
        cpus   = 8
        memory = '16 GB'
        time   = '12h'
    }

    withName: 'REPEATEXPLORER' {
        cpus   = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }
}

executor {
    queueSize       = 20
    submitRateLimit = '10/1min'
}
