process {
    withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/raw_qc/fastqc" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.html') ? filename : null }
        ]
    }
    withName: 'RAW_FASTQ_STATS' {
        publishDir = [
            path: { "${params.outdir}/raw_qc/fastq_stats" },
            mode: 'copy'
        ]
    }
}