process {
    //Input and accession archives acquisition
    withName: 'VALIDATE_SAMPLESHEET' {
    publishDir = [
        path: {
            "${params.outdir}/pipeline_info"
        },
        mode: params.publish_dir_mode,
        pattern: 'samplesheet.validated.csv'
        ]
    }

    withName: 'INPUT_PROVENANCE' {
     publishDir = [
        path: {
            "${params.outdir}/input_acquisition/provenance"
        },
        mode: params.publish_dir_mode,
        pattern: '*.input_provenance.tsv'
        ]
    }

    withName: 'RESOLVE_REMOTE_PROVIDER' {
     publishDir = [
        path: {
            "${params.outdir}/input_acquisition/provider_resolution"
        },
        mode: params.publish_dir_mode,
        pattern: '*.remote_resolution.json'
        ]
    }

    withName: 'ENA_FASTQ_DOWNLOAD' {
        publishDir = [
            path: {
            "${params.outdir}/input_acquisition/manifests"
        },
        mode: params.publish_dir_mode,
        pattern: '*.acquisition_manifest.tsv'
        ]
    }
    //QC
    withName: 'FASTQ_INTEGRITY' {
        publishDir = [
            path: {
            "${params.outdir}/raw_qc/integrity"
            },
        mode: params.publish_dir_mode,
        pattern: '*.fastq_integrity.tsv'
        ]
    }
    withName: 'FASTQC' {
        publishDir = [
            [
            path: { "${params.outdir}/raw_qc/fastqc" },
            mode: params.publish_dir_mode,
            pattern: '*.html'
            ],
            [
            path:  {
                "${params.outdir}/raw_qc/fastqc"
            },
            mode: params.publish_dir_mode,
            pattern: '*.zip'  
            ]
        ]
    }
    withName: 'SEQKIT_STATS' {
        publishDir = [
         path: {
            "${params.outdir}/raw_qc/seqkit_stats"
        },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }
    withName: 'PAIR_AUDIT' {
        publishDir = [
            path: {
            "${params.outdir}/raw_qc/pair_audit"
            },
            mode: params.publish_dir_mode,
            pattern: '*.pair_audit.tsv'
        ]
    }
    //Organelle filtering
    withName: 'ORGANELLE_FILTER' {

     container = 'https://depot.galaxyproject.org/singularity/mulled-v2-6650c7f18ff69c36236b280f2d609a3d13264b97:543e33c6833418e697d02a5c36eb971f1141d668-0'
    
     publishDir = [
        [
            path: {
                "${params.outdir}/organelle_filter/fastq"
            },
            mode: params.publish_dir_mode,
            pattern: '*.organelle_filtered.fastq.gz'
        ],
        [
            path: {
                "${params.outdir}/organelle_filter/reports"
            },
            mode: params.publish_dir_mode,
            pattern: '*.organelle_filter_report.tsv'
        ],
        [
            path: {
                "${params.outdir}/organelle_filter/metadata"
            },
            mode: params.publish_dir_mode,
            pattern: '*.organelle_method_record.tsv'
        ],
        [
            path: {
                "${params.outdir}/organelle_filter/metadata"
            },
            mode: params.publish_dir_mode,
            pattern: '*.organelle_reference_record.tsv'
            ]
        ]
    }
    //Length normalization
    withName: 'PROFILE_READ_LENGTH' {
    publishDir = [
        path: {
            "${params.outdir}/length_normalization/profiles"
        },
        mode: params.publish_dir_mode,
        pattern: '*.read_length_profile.tsv'
        ]
    }

    withName: 'SELECT_GLOBAL_TARGET_LENGTH' {
        publishDir = [
        [
            path: {
                "${params.outdir}/length_normalization/target_length"
            },
            mode: params.publish_dir_mode,
            pattern: 'global_target_length.tsv'
        ],
        [
            path: {
                "${params.outdir}/length_normalization/target_length"
            },
            mode: params.publish_dir_mode,
            pattern: 'target_length_per_sample.tsv'
            ]
        ]
    }

    withName: 'CROP_FIXED_LENGTH' {
     publishDir = [
        path: {
            "${params.outdir}/length_normalization/reports"
        },
        mode: params.publish_dir_mode,
        pattern: '*.crop_report.tsv'
        ]
    }
    //Coverage planning and subsampling
    withName: 'PLAN_COVERAGE' {
        publishDir = [
            path: {
            "${params.outdir}/coverage_sampling/plans"
            },
            mode: params.publish_dir_mode,
            pattern: '*.coverage_plan.tsv'
        ]
    }

    withName: 'SAMPLE_PAIRS' {
        publishDir = [
        [
            path: {
                "${params.outdir}/coverage_sampling/sampled_reads"
            },
            mode: params.publish_dir_mode,
            pattern: '*.sampled.fastq.gz'
        ],
        [
            path: {
                "${params.outdir}/coverage_sampling/reports"
            },
            mode: params.publish_dir_mode,
            pattern: '*.sampling_report.tsv'
            ]
        ]
    }
    //File preparation for exportation
    withName: 'RENAME_FASTQ_TO_FASTA' {
        publishDir = [
        [
            path: {
                "${params.outdir}/repex/fasta"
            },
            mode: params.publish_dir_mode,
            pattern: '*.repex.fasta'
        ],
        [
            path: {
                "${params.outdir}/repex/reports"
            },
            mode: params.publish_dir_mode,
            pattern: '*.repex_format_report.tsv'
            ]
        ]
    }

    withName: 'VALIDATE_REPEX_FASTA' {
     publishDir = [
        path: {
            "${params.outdir}/repex/validation"
        },
        mode: params.publish_dir_mode,
        pattern: '*.repex_validation.tsv'
        ]
    }
    //Repeat Explorer execution
    withName: 'REPEATEXPLORER' {
        cpus   = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
        time   = { check_max( 24.h * task.attempt, 'time' ) }
        ext.args = '-opt ILLUMINA'
        
        publishDir = [
        [
            path: {
                "${params.outdir}/repeatexplorer/results"
            },
            mode: params.publish_dir_mode,
            pattern: '*_repex'
        ],
        [
            path: {
                "${params.outdir}/repeatexplorer/logs"
            },
            mode: params.publish_dir_mode,
            pattern: '*.repeatexplorer.log'
        ],
        [
            path: {
                "${params.outdir}/repeatexplorer/reports"
            },
            mode: params.publish_dir_mode,
            pattern: '*.repeatexplorer_run.tsv'
            ]
        ]
    }
}
