process {
    withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/raw_qc/fastqc" },
            mode: 'copy'
        ]
    }
    withName: 'RAW_FASTQ_STATS' {
        publishDir = [
            path: { "${params.outdir}/raw_qc/fastq_stats" },
            mode: 'copy'
        ]
    }
    withName: 'SEQKIT_STATS' {
        publishDir = [
            path: { "${params.outdir}/raw_qc/seqkit_stats" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
    withName: 'REPEATEXPLORER' {
    cpus   = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    time   = { check_max( 24.h * task.attempt, 'time' ) }
    ext.args = '-opt ILLUMINA'
    }
}
