/*
 * conf/test.config
 *
 * Local test profile: small and quick
 *
 */

params {
    input     = 'assets/samplesheet.test.csv'
    outdir    = 'results/test'
    test_mode = true
}

process {
    executor = 'local'

    withLabel: process_low {
        cpus = 1
        memory = '1 GB'
        time = '1h'
    }
}